body {
  min-width: 1200px;

  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;  
}

/* header*/
.main-header-logo {
  width: 138px;
  height: 70px;
}

.main-header {
  margin-bottom: 75px;
}


a {
  text-decoration: none;
}
.main-navigation {
  display: flex;
  -direction: column;
  justify-content: center;

  font-size: 14px;
  color: #000000;

  background-color: #ffffff;
}


.site-navigation {
  width: 1200px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-navigation li {
  display: inline;
  margin-right: 5px;
  
}

.site-navigation a {
  color: #000000;
  font-weight: 700;
}
.site-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* main*/

.container {
  width: 1200px;
  
}
.container-welcome {
  width: 459px;
  height: 353px;
  margin-top: 79px;
  margin-bottom: 79px;
  margin-left: 410px;
  margin-right: 410px;


}

.container-intro {
  display: block;
}


.intro-text{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}


.hotel-name-link{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
 }

.hotel-name-link:hover {
  color: #81b3d2;
}

.hotel-name-link:focus {
  color: #cacaca;
 }

.features {
  display: block;
  }

.advantage{
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  }
.interested {
  display: block;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
 }

 .travel-date {
  display: block;

  
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  }

  
.catalog-list {
  list-style: none;
}

.button {
  text-align: center;
  color: #ffffff;
  font-weight: 700;

  border: none;
  padding-right: 17px;
  padding-left: 17px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.button-more {
  background-color: #81b3d2;
}
.button-more:hover{
  color: #ffffff;
  background-color: #669ec0;
}
.button-more:focus {
  color:#94b9d2;
  background-color: #5496bd;
}

.button-book {
  background-color: #766357;
}
.button-book:hover{
  color: #ffffff;
  background-color: #604e43;
}
  
.button-book:focus {
  color:#928a85;
  background-color: #503e33;
}

.rating-stars {
  list-style: none;
}
.rating {
  background-color: #f2f2f2;
}

  
/* footer*/
.main-footer {
  background-color: rgba(254, 254, 254, 0.9);  
}

.main-footer .container-footer{
  display: flex;
}

.footer-contacts {
  width: 400px;
  margin: 0;
  margin-right: 70px;

  color: #000000;
}

.footer-contacts:hover,
.footer-contacts:focus {
  text-decoration: none;
}
.footer-social {
  width: 400px;

  list-style: none;
}

.social-button  {
  color: #81b3d2;
 }
.social-button:hover{
  color: #669ec0;
}

.social-button:focus {
  color: #5496bd;
}

.footer-copyright {
  width: 400px;

color: #000000
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* сеточные стили */

