body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;  
}

/* header*/
a {
  text-decoration: none;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}
.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: #000000;
  font-weight: 700;
}
.site-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* main*/

.text-selection{
 font-size: 21px;
 line-height: 26px;
 font-weight: 700;
 color: #000000;
}

.text-selection:hover {
  color: #81b3d2;
}
.text-selection:focus {
  color: #cacaca
}

.advantage{
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  }
.interested {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
 }

 .travel-date {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  }

  
.catalog-list {
  list-style: none;
}


.button-detail {
  text-align: center;
  color: #ffffff;
  font-weight: 700;

  background-color: #81b3d2;
  border: none;
  padding-right: 17px;
  padding-left: 17px;
  margin-bottom: 8px;
  margin-top: 8px;
  
}
.button-detail:hover{
  color: #ffffff;
  background-color: #669ec0;
  }
  
.button-detail:focus {
  color:#94b9d2;
  background-color: #5496bd;
}

.button{
  list-style: none;
}
.button {
  text-align: center;
  color: #ffffff;
  font-weight: 700;

  background-color: #766357;
  border: none;
  padding-right: 17px;
  padding-left: 17px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.button:hover{
  color: #ffffff;
  background-color: #604e43;
  }
  
.button:focus {
  color:#928a85;
  background-color: #503e33;
}
.reiting-stars {
  list-style: none;
}
.reiting {
  background-color: #f2f2f2;
}

  
/* footer*/
.main-footer {
  background-color: rgba(254, 254, 254, 0.9);  
}

.footer-contacts {
  color: #000000;
}

.footer-contacts:hover,
.footer-contacts:focus {
  text-decoration: none;
}
.footer-social {
  list-style: none;
}

.social-button  {
  color: #81b3d2;
 }
.social-button:hover{
color: #669ec0;
}

.social-button:focus {
  color: #5496bd;
}
